.header {
  display: grid;
  grid-template-columns: 0.2fr 1fr 7.8fr 1fr;
  width: 100%;
  padding: 10px 0;
}

.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardNameContainer {
  width: 100%;
  height: 100%;
  padding-left: max(7px, 1.17vw);
}

.cardName {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: max(16px, 2.73vw);
}

.mainContentsContainer {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr 12fr;
  width: 100%;
  background-color: #f3f3f3;
  padding: 10px 0 5px 0;
}

.menuContainer {
  display: grid;
  width: 100%;
  height: max(250px, 39.06vw);
  grid-template-rows: 0.5fr 4fr 2fr;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #b4eaff;
  overflow: hidden;
}

.nameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: max(32px, 5.27vw);
}

.optionButtonsContainer {
  display: grid;
  grid-template-rows: 3fr 4fr 3fr;
}

.captionAndButtonContainer{
  display: flex;
  flex-direction: column;
}

.caption {
  font-size: max(18px, 2.34vw);
}

.buttonContainer1 {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.buttonContainer2 {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 3fr 2fr 3fr;
  align-items: center;
  padding-right: 20px;
}

.changeNumButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 1px #000000;
  border-radius: 4px;
  width: 100%;
  height: max(37.6px, 5.41vw);
  background-color: #ffffff;
}

.quantityViewer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 1px #000000;
  border-radius: 4px;
  width: 100%;
  height: max(37.6px, 5.41vw);
  background-color: #ffffff;
}

.changeNumButton:active {
  background-color: #f5f5f5;
}

.cancelAndAddButtonContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
  padding: max(8px, 1.95vw) 0;
}

.cancelButton {
  border-radius: 4px;
  border: solid 2px red;
  font-size: max(16px, 2.08vw);
  color: red;
  background-color: #ffffff;
  padding: max(8px, 0.78vw) (4px, 0.39vw);
}

.addButton {
  border-radius: 4px;
  font-size: max(16px, 2.08vw);
  background-color: #ffbd16;
  color: #000000;
  padding: max(8px, 0.78vw) max(4px, 0.39vw);
}

.addButton:disabled {
  background-color: #d9d9d9;
  color: #888888;
}

