.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 14.65vw;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 2px rgb(0 0 0 / 20%);
}

.container {
  display: grid;
  grid-template-rows: 1fr 2fr 3fr 0.3fr 0.7fr;
  background-color: #ffffff;
  width: 100%;
  height: 234vw;
}

.caption {
  display: flex;
  align-items: center;
  padding-left: 5px;
  width: 100%;
  height: 7.81vw;
  background-color: #d9d9d9;
  color: #000000;
  background-image: 
    radial-gradient(rgba(0, 0, 0, 0.15) 1.5px, transparent 1.5px);
  background-size: 8px 8px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 4fr 0.2fr 4fr 1fr;
  width: 100%;
  height: calc(100% - 7.81vw);
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card {
  display: grid;
  grid-template-rows: 3fr 1fr 0.5fr;
  width: 90%;
  height: 80%;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 20%);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: max(30px, 5.86vw);
  width: 100%;
  height: 100%;
}

input:checked + .card {
  background-color: #ffbd16;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.blank {
  width: 100%;
  height: 3.9vw;
}

.paymentCardsContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: calc(100% - 15.63vw);
}

.orderListContainer {
  width: 100%;
  height: calc(100% - 7.81vw);
  overflow-y: auto;
  padding: 3.9vw 9.77vw;
}

.totalAmount {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: max(20px, 4.69vw);
}

.buttonsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  padding: 0 5%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.confirmedButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 50%;
  border-radius: max(4px, 0.78vw);
  font-size: max(14px, 2.73vw);
  background-color: #ffbd16;
  color: #000000;
  padding: 16px 8px;
}

.confirmedButton:disabled {
  background-color: #d9d9d9;
  color: #888888;
}

.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 50%;
  border-radius: max(4px, 0.78vw);
  border: solid 1px #000000;
  font-size: max(14px, 2.73vw);
  color: #000000;
  padding: 16px 8px;
}